{% extends 'base.html.twig' %}

{% block body %}
  {% for artist in artists %}
    <a class="card hoverable" href="{{ path('artistDetails', {artistId: artist.id})}}">
      <div class="card-image">
        <img class="artist-image" src="{{ artist.images[0].url }}">
      </div>
      <div class="card-content">
        {{ artist.name }}
      </div>
    </a>
  {% endfor %}
{% endblock %}

{% block style %}
  .card {
    margin: 10px;
    cursor: pointer;
  }

  .artist-image {
    max-width: 30vw;
  }

  .app-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
{% endblock %}
